<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['.']"><b>Header Widget</b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" name = "profile">
        <a [routerLink]="['/profile']">Profile</a>
      </div>
    </form>
  </div>
</nav>
<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}
</div>
<div class="container" *ngIf="curWidget">
  <div class="form-group">
    <label for="heading-name">Name</label>
    <input [(ngModel)]="curWidget.name" class="form-control" id="heading-name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="heading-text">Text</label>
    <input [(ngModel)]="curWidget.text" type="text" class="form-control" id="heading-text" placeholder="Text">
  </div>
  <div class="form-group">
    <label for="heading-size">Size</label>
    <input [(ngModel)]="curWidget.size" type="number" class="form-control" id="heading-size" placeholder="Size"
           step="1" min="1" max="6">
  </div>
  <button class="btn btn-outline-primary" (click)="updateWidget()">Save Changes</button>
  <button class="btn btn-outline-danger" (click)="back()">Cancel</button>
</div>

