<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['/profile']"><b>My Profile</b></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/websites']">Websites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">Influencers</a>
        </li>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right">
        <a (click)="logout()">Log Out</a>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid row">
  <div class="col-3 cl-container-padding">
    <img class="img-responsive mx-4"
         src="https://farm1.staticflickr.com/901/26205811937_7bd68ac7dc_b.jpg"
         height="120" width="120">
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/profile']">
          Edit Profile
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user', 'followers']">
          My Followers
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user', 'followings']">
          <b>My Followings</b>
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user/website']">
          My Websites
        </a>
      </li>
    </ul>
  </div>

  <div class="col-9 col-sm-9 col-md-9 col-lg-9 cl-container-padding">
    <h2><b>My Followings</b></h2>
    <ul class="list-group cl-list-group-borderless">
      <li *ngFor="let following of followings" class="list-group-item cl-list-item-borderless">
        <div class="media">
          <img class="mr-3" src="https://farm1.staticflickr.com/901/26205811937_7bd68ac7dc_b.jpg"
               alt="Generic placeholder image" width="64" height="64">
          <div class="media-body">
            <h5><a class="mt-0" [routerLink]="['/username', following.username]">{{following.username}}</a></h5>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
