<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['.']" *ngIf="page"><b>{{page.title}}</b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">

      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" *ngIf="!noUser" name = "profile">
        <a [routerLink]="['/profile']">Profile</a>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <h2><b>Choose a widget type</b></h2>
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./header">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./image">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./youtube">Youtube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./html">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./text">Text</a>
    </li>
  </ul>
</div>
