<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['/profile']"><b>My Profile</b></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reviewers']">Reviewers</a>
        </li>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right">
        <a (click)="logout()" href=".">Log Out</a>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid row">
  <div class="col-3 cl-container-padding">
    <img class="img-responsive mr-4" src="https://farm1.staticflickr.com/901/26205811937_7bd68ac7dc_b.jpg"
         height="150" width="150">
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/profile']">
          Edit Profile
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user', 'followers']">
          My Followers
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user', 'followings']">
          My Followings
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user/website']">
          My Websites
        </a>
      </li>
    </ul>
  </div>

  <div class="col-9 col-sm-9 col-md-9 col-lg-9 cl-container-padding">
    <h2><b>Add new Websites</b></h2>
    <div *ngIf="errorFlag"
         class="alert alert-danger">
      {{errorMsg}}
    </div>
    <div class="form-group">
      <label for="website-name">Name</label>
      <input [(ngModel)] ="webName" type="text" class="form-control" id="website-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="website-description">Description</label>
      <textarea [(ngModel)]="webDes" id="website-description" class="form-control" rows="5" placeholder="Description"></textarea>
    </div>
    <button (click)="createWebsite()" class="btn btn-outline-primary">Add</button>
    <button routerLink="/user/website" class="btn btn-outline-danger">Cancel</button>
  </div>
</div>
