
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick cl-text-white" [routerLink]="['.']"><b>Nestling</b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/websites']">Websites</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/users']">Influencers</a>
        </li>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" *ngIf="noUser" name = "login">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Register</a>
      </div>
      <div class="navbar-header navbar-toggler-right" *ngIf="!noUser" name = "profile">
        <a [routerLink]="['/profile']">Profile</a>
      </div>
    </form>
  </div>
</nav>

<div class="body-grey">
  <div class = "user-page-container" >
    <div class="input-group mb-3">
      <input [(ngModel)]="searchText" type="text" class="form-control" [ngModelOptions]="{standalone: true}">
      <button (click)="searchUsers()" type="button" class="cl-text-white btn btn-light bg-color">Search</button>
    </div>
    <ul class="list-group">
      <div *ngFor="let user of users" class="container-fluid">
        <li class="list-group-item blue">
          <div class="media">
            <img class="mr-3 rounded" src="https://farm1.staticflickr.com/901/26205811937_7bd68ac7dc_b.jpg"
                 alt="Generic placeholder image" width="64" height="64">
            <div class="media-body">
              <h5 class="mt-0"><a routerLink="/username/{{user.username}}"><b>{{user.username}}</b></a></h5>
              <h6>{{user.followers.length}} followers</h6>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
