
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['.']"><b>Text Widget</b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" *ngIf="!noUser" name = "profile">
        <a [routerLink]="['/profile']">Profile</a>
      </div>
    </form>
  </div>
</nav>
<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}
</div>
<!--Body of the page -->
<div class="container" *ngIf="curWidget">
  <div *ngIf=flag
       class="alert alert-danger">
    {{error}}
  </div>
  <label for="Name">Name</label>
  <div>
    <input [(ngModel)]="curWidget.name"
           type="text"
           class="form-control"
           id="Name"
           name="name"
           placeholder="Name">
    <span class="alert-class"
          *ngIf=flag>{{alert}}</span>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <input [(ngModel)]="curWidget.text" type="text" class="form-control" id="text" placeholder="Text">
  </div>
  <div class="form-group">
    <label for="rows">Rows</label>
    <input [(ngModel)]="curWidget.rows" type="text" class="form-control" id="rows">
  </div>
  <div class="form-group">
    <label for="placeholder">Placeholder</label>
    <input [(ngModel)]="curWidget.placeholder" id="placeholder" class="form-control" required>
  </div>
  <p></p>
  <div class="input-group">
    <input type="text"
           readonly
           value="Formatted"
           class="form-control"/>
    <span class="input-group-addon">
        <input [(ngModel)]="curWidget.formatted"
               type="checkbox"/>
    </span>
  </div>
  <p></p>
  <button class="btn btn-outline-primary" (click)="updateWidget()">Save Changes</button>
  <button class="btn btn-outline-danger" (click)="deleteWidget()">Delete</button>
</div>

