<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['.']" *ngIf="page"><b>{{page.title}}</b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav" *ngIf="isOwner">
        <button type="button" routerLink="new" class="btn btn-info btn-sm">Add new widget</button>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" *ngIf="noUser" name = "login">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Register</a>
      </div>
      <div class="navbar-header navbar-toggler-right" *ngIf="!noUser" name = "profile">
        <a [routerLink]="['/profile']">Profile</a>
      </div>
    </form>
  </div>
</nav>

<div class="container cl-container-padding" appWbdvSortable (newIndexes)="reorderWidgets($event)" *ngIf="widgets">
  <div *ngFor="let widget of widgets | orderBy" [ngSwitch]="widget.type">
    <div *ngSwitchCase="'HEADING'" class="widget-padding">
      <button type="button" (click)="deleteWidget(widget._id)" *ngIf="isOwner"
              class="btn btn-outline-danger btn-sm float-right ml-1">Delete</button>
      <button type="button" routerLink="{{widget._id}}" *ngIf="isOwner"
              class="btn btn-outline-secondary btn-sm float-right ml-1">Edit</button>
      <div [ngSwitch]="widget.size">
        <h1 *ngSwitchCase="1">{{widget.text}}</h1>
        <h2 *ngSwitchCase="2">{{widget.text}}</h2>
        <h3 *ngSwitchCase="3">{{widget.text}}</h3>
        <h4 *ngSwitchCase="4">{{widget.text}}</h4>
        <h5 *ngSwitchCase="5">{{widget.text}}</h5>
        <h6 *ngSwitchCase="6">{{widget.text}}</h6>
      </div>
    </div>

    <div *ngSwitchCase="'IMAGE'" class="widget-padding">
      <button type="button" (click)="deleteWidget(widget._id)" *ngIf="isOwner"
              class="btn btn-outline-danger btn-sm float-right ml-1">Delete</button>
      <button type="button" routerLink="{{widget._id}}" *ngIf="isOwner"
              class="btn btn-outline-secondary btn-sm float-right ml-1">Edit</button>
      <img class="img-responsive img-rounded cl-widget-images"
           src={{widget.url}} [width]= "widget.width">
    </div>

    <div *ngSwitchCase="'TEXT'" class="widget-padding">
      <button type="button" (click)="deleteWidget(widget._id)" *ngIf="isOwner"
              class="btn btn-outline-danger btn-sm float-right ml-1">Delete</button>
      <button type="button" routerLink="{{widget._id}}" *ngIf="isOwner"
              class="btn btn-outline-secondary btn-sm float-right ml-1">Edit</button>
      <div *ngIf="widget.formatted">
        <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
      </div>

      <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
             placeholder="{{widget.placeholder}}" [(ngModel)] = "widget.text"  class="form-control"/>

      <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                class="form-control" [(ngModel)] = "widget.text"></textarea>
    </div>

    <div *ngSwitchCase="'HTML'" class="widget-padding">
      <button type="button" (click)="deleteWidget(widget._id)" *ngIf="isOwner"
              class="btn btn-outline-danger btn-sm float-right ml-1">Delete</button>
      <button type="button" routerLink="{{widget._id}}" *ngIf="isOwner"
              class="btn btn-outline-secondary btn-sm float-right ml-1">Edit</button>
      <div [innerHTML]="widget.text"></div>
    </div>


    <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget widget-padding">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="420" height="315" [src]= getUrl(widget.url) frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <button type="button" (click)="deleteWidget(widget._id)" *ngIf="isOwner"
              class="btn btn-outline-danger btn-sm float-right ml-1">Delete</button>
      <button type="button" routerLink="{{widget._id}}" *ngIf="isOwner"
              class="btn btn-outline-secondary btn-sm float-right ml-1">Edit</button>
    </div>
  </div>
</div>

